@keyframes neon-stroke-glow {
    0% {
        -webkit-text-stroke: 1px rgba(255, 255, 255, 0.753);
        text-shadow: 0 0 5px var(--neon-color-2-dimed),
            0 0 10px var(--neon-color-2-dimed),
            0 0 20px var(--neon-color-2-dimed);
    }
    50% {
        -webkit-text-stroke: 1px rgb(255, 255, 255);
        text-shadow: 0 0 10px var(--neon-color-2), 0 0 20px var(--neon-color-2),
            0 0 40px var(--neon-color-2);
    }
    100% {
        -webkit-text-stroke: 1px rgba(255, 255, 255, 0.753);
        text-shadow: 0 0 5px var(--neon-color-2-dimed),
            0 0 10px var(--neon-color-2-dimed),
            0 0 20px var(--neon-color-2-dimed);
    }
}

@keyframes neon-glow {
    0% {
        text-shadow: 0 0 1px white, 0 0 2px white,
            0 0 2px var(--neon-color-white), 0 0 3px var(--neon-color-white),
            0 0 4px var(--neon-color-white), 0 0 6px var(--neon-color-white),
            0 0 9px var(--neon-color-white);
    }
    50% {
        text-shadow: 0 0 1px white, 0 0 2px white,
            0 0 4px var(--neon-color-white), 0 0 6px var(--neon-color-white),
            0 0 8px var(--neon-color-white), 0 0 12px var(--neon-color-white),
            0 0 18px var(--neon-color-white);
    }
    100% {
        text-shadow: 0 0 1px white, 0 0 2px white,
            0 0 2px var(--neon-color-white), 0 0 3px var(--neon-color-white),
            0 0 4px var(--neon-color-white), 0 0 6px var(--neon-color-white),
            0 0 9px var(--neon-color-white);
    }
}

@keyframes box-glow {
    0% {
        box-shadow: 0 0 2px white, 0 0 4px white,
            0 0 6px var(--neon-color-white), 0 0 12px var(--neon-color-white),
            inset 0 0 12px var(--neon-color-white);
    }
    50% {
        box-shadow: 0 0 2px white, 0 0 4px white,
            0 0 6px var(--neon-color-white), 0 0 12px var(--neon-color-white),
            inset 0 0 12px var(--neon-color-white);
    }
    100% {
        box-shadow: 0 0 2px white, 0 0 4px white,
            0 0 6px var(--neon-color-white), 0 0 12px var(--neon-color-white),
            inset 0 0 12px var(--neon-color-white);
    }
}

@keyframes icon-glow {
    0% {
        filter: drop-shadow(0 0 1px var(--neon-color-1))
            drop-shadow(0 0 0px var(--neon-color-1)) drop-shadow(0 0 0 black)
            drop-shadow(0 0 0 black);
    }
    50% {
        filter: drop-shadow(0 0 1px var(--neon-color-1))
            drop-shadow(0 0 0px var(--neon-color-1))
            drop-shadow(0 0 2px var(--neon-color-danger-dimed))
            drop-shadow(0 0 4px var(--neon-color-danger-dimed));
    }
    100% {
        filter: drop-shadow(0 0 1px var(--neon-color-1))
            drop-shadow(0 0 0px var(--neon-color-1)) drop-shadow(0 0 0 black)
            drop-shadow(0 0 0 black);
    }
}

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 16px 4%;
}

.navbar {
    position: fixed;
    width: 92%;
    max-width: 1080px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: var(--ff-dancing-script);
    font-size: 1rem;
    text-align: center;
    color: transparent;
    text-shadow: 0 0 5px var(--neon-color-2), 0 0 10px var(--neon-color-2),
        0 0 20px var(--neon-color-2);
    -webkit-text-stroke: 1px white;
    animation: neon-stroke-glow 1.5s infinite alternate,
        box-glow 1.5s infinite alternate;
    padding: 0.6rem 1rem;
    border: 2px solid var(--neon-color-1);
    box-shadow: 0 0 1px var(--neon-color-1), 0 0 2px var(--neon-color-1),
        0 0 3px var(--neon-color-2-dimed), 0 0 6px var(--neon-color-2-dimed),
        inset 0 0 6px var(--neon-color-2-dimed);
    border-radius: 8px;
    background-color: var(--bg-dark);
}

.navButtonContainer {
    display: flex;
    gap: 8px;
}

.buttonHome {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--neon-color-1);
    text-align: center;
    width: 48px;
    height: 48px;
    border: 2px solid var(--neon-color-1);
    box-shadow: 0 0 2px white, 0 0 4px white, 0 0 6px var(--neon-color-white),
        0 0 12px var(--neon-color-white), inset 0 0 12px var(--neon-color-white);
    border-radius: 8px;
    background-color: var(--bg-dark);
}

.buttonSave {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--neon-color-1);
    text-align: center;
    width: auto;
    width: 48px;
    height: 48px;
    border: 2px solid var(--neon-color-1);
    box-shadow: 0 0 2px white, 0 0 4px white, 0 0 6px var(--neon-color-white),
        0 0 12px var(--neon-color-white), inset 0 0 12px var(--neon-color-white);
    border-radius: 8px;
    background-color: var(--bg-dark);
}

.buttonHome:hover,
.buttonSave:hover {
    animation: box-glow 1.5s infinite alternate;
}

.buttonHome:hover .icon,
.buttonSave:hover .icon {
    animation: icon-glow 1.5s infinite alternate;
}

.icon {
    filter: drop-shadow(0 0 1px var(--neon-color-1))
        drop-shadow(0 0 0px var(--neon-color-1)) drop-shadow(0 0 0 black)
        drop-shadow(0 0 0 black);
}

.tierList {
    margin-top: 64px;
    margin-bottom: 72px;
    width: 100%;
    max-width: 1080px;
}

.title {
    font-family: var(--ff-audiowide);
    font-size: 3rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: transparent;
    text-shadow: 0 0 5px var(--neon-color-2), 0 0 10px var(--neon-color-2),
        0 0 20px var(--neon-color-2);
    -webkit-text-stroke: 1px white;
    animation: neon-stroke-glow 1.5s infinite alternate,
        box-glow 1.5s infinite alternate;
    padding: 0.6rem 1rem;
    border: 2px solid var(--neon-color-1);
    box-shadow: 0 0 1px var(--neon-color-1), 0 0 2px var(--neon-color-1),
        0 0 3px var(--neon-color-2-dimed), 0 0 6px var(--neon-color-2-dimed),
        inset 0 0 6px var(--neon-color-2-dimed);
    border-radius: 8px;
    margin-bottom: 16px;
    background-color: var(--bg-dark-transparent);
}

.itemsList {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    color: var(--neon-color-1);
}

ol {
    padding: 0;
    list-style-position: inside;
}

.option {
    color: var(--neon-color-1);
    padding: 0.8rem 1rem;
    display: flex;
    gap: 4px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--neon-color-1);
    border-radius: 8px;
    background-color: var(--bg-dark);
}

.option:hover {
    animation: box-glow 1.5s infinite alternate;
}

.optionValue {
    font-family: var(--ff-orbitron);
    font-size: 1.4rem;
}

.option:hover .optionValue {
    animation: neon-glow 1.5s infinite alternate;
}

.buttonDel {
    aspect-ratio: 1 / 1;
    text-align: center;
    width: 48px;
    height: 48px;
    border: 2px solid var(--neon-color-1);
    box-shadow: 0 0 1px var(--neon-color-1), 0 0 2px var(--neon-color-1),
        0 0 3px var(--neon-color-2-dimed), 0 0 6px var(--neon-color-2-dimed),
        inset 0 0 6px var(--neon-color-2-dimed);
    border-radius: 8px;
}

.option:hover .buttonDel {
    animation: box-glow 1.5s infinite alternate;
}

.closeIcon {
    filter: drop-shadow(0 0 1px var(--neon-color-1))
        drop-shadow(0 0 0px var(--neon-color-1)) drop-shadow(0 0 0 black)
        drop-shadow(0 0 0 black);
}

.closeIcon:hover {
    animation: icon-glow 1.5s infinite alternate;
}

.form {
    z-index: 2000;
    position: fixed;
    bottom: 16px;
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 92%;
    max-width: 1080px;
}

.input {
    font-family: var(--ff-orbitron);
    width: 40ch;
    color: var(--neon-color-1);
    background-color: var(--bg-dark);
    padding: 1rem;
    border: 2px solid var(--neon-color-1);
    box-shadow: 0 0 1px var(--neon-color-1), 0 0 2px var(--neon-color-1),
        0 0 3px var(--neon-color-2-dimed), 0 0 6px var(--neon-color-2-dimed),
        inset 0 0 6px var(--neon-color-2-dimed);
    border-radius: 8px;
}

.input:focus {
    animation: box-glow 1.5s infinite alternate;
    outline: none;
}

.buttonAdd {
    color: var(--neon-color-1);
    background-color: var(--bg-dark);
    padding: 1rem 1.3rem;
    border: 2px solid var(--neon-color-1);
    box-shadow: 0 0 1px var(--neon-color-1), 0 0 2px var(--neon-color-1),
        0 0 3px var(--neon-color-2-dimed), 0 0 6px var(--neon-color-2-dimed),
        inset 0 0 6px var(--neon-color-2-dimed);
    border-radius: 8px;
    font-weight: 900;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 1px var(--neon-color-1), 0 0 2px var(--neon-color-1),
        0 0 2px var(--neon-color-2-dimed), 0 0 3px var(--neon-color-2-dimed),
        0 0 4px var(--neon-color-2-dimed), 0 0 6px var(--neon-color-2-dimed),
        0 0 9px var(--neon-color-2-dimed);
}

.buttonAdd:hover {
    animation: box-glow 1.5s infinite alternate,
        neon-glow 1.5s infinite alternate;
}

.notfound {
    font-family: var(--ff-dancing-script);
    color: var(--neon-color-1);
    font-size: 8rem;
    text-shadow: 0 0 1px var(--neon-color-1), 0 0 2px var(--neon-color-1),
        0 0 4px var(--neon-color-2), 0 0 6px var(--neon-color-2),
        0 0 8px var(--neon-color-2), 0 0 12px var(--neon-color-2),
        0 0 18px var(--neon-color-2);
}

@media (max-width: 660px) {
    .optionValue {
        font-size: 1rem;
    }
    .input {
        font-size: 0.8rem;
    }
}
